<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Food Order</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-href="#/user/admin/{{user.username}}">Home</a>
                    </li>
                    <li>
                        <a ng-href="#/user/admin/{{user.username}}/orders">Orders</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-model="user">
                        <a>{{ user.firstName }} {{ user.lastName}}</a>
                    </li>
                    <li>
                        <a href="" ng-click="logoutUser()">Logout</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>

<div>
    <form name="editForm" class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Edit Order</h3>
        <hr>
        <div class="form-group">
            <label>Note</label>
            <input type="text" ng-model="orderToEdit.note" ng-required="true" class="form-control">
        </div>
        <div class="form-group">
            <label>Deliverer</label>
            <select class="form-control" ng-model="orderToEdit.deliveryPersonId" ng-options="c for c in deliverers">
            </select>
        </div>
        <div class="form-group">
            <label>Customer</label>
            <select class="form-control" ng-model="orderToEdit.userId" ng-options="c for c in customers">
            </select>
        </div>
        <div class="form-group">
            <label>Status</label>
            <select class="form-control" ng-model="orderToEdit.status" ng-options="c for c in statuses">
            </select>
        </div>
        <button type="submit" form="editForm" ng-click="" class="btn btn-primary">Update</button>
    </form>
</div>